# 이 파일을 복사해서 secret.properties 로 저장하고 값을 채울 것 (커밋 금지)

# DB (각자 자기 VM)
spring.datasource.url=jdbc:mariadb://본인VM주소:3306/moveon
spring.datasource.username=
spring.datasource.password=
spring.datasource.driver-class-name=org.mariadb.jdbc.Driver

# 인증번호 발송용 메일 계정 (네이버 SMTP 사용 설정 필요)
spring.mail.username=
spring.mail.password=

# KAKAO MAP API KEY
kakao.rest.key=
kakao.javascript.key=

# 서울시 공공 체육시설별 운영프로그램 정보
seoul.phy.api.key=

# 서울시 체육시설 공공서비스 예약 정보
seoul.book.api.key=

# 전국공공시설개방정보표준데이터
local.api.key=

# NAVER API HUB
naver.hub.key.id=
naver.hub.key=

# GEMINI KEY
gemini.api.key=
